
.mainsignup{
    background-image: url('https://drive.google.com/uc?id=1UBk_pFOTEHOxT1Jhcl3qDlEoH6WzqbfJ');
    background-size: cover;
     min-height: 100vh;
    padding-left: 30%;
    padding-right:30%;
    padding-top: 8%;
    display: flex;
    object-position: center; 
}
.form {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 600px;
    height: fit-content;
    padding-bottom: 40px;
  }
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    margin-top: 1em;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    
    border-bottom:#d3d3d3;
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em; 
    fill: white;
    background-color: #171717;
  }

  .input-icon path{
    height: 1.3em;
    width: 1.3em;
  }  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
    font-size: medium;
  }

  .button3 {
    margin-top: 20px;
    padding: 0.5em;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #ffffff;
    color: black;
  }
  .nav-pills .nav-link.active{
    --mdb-nav-pills-link-active-bg: white;
    --mdb-nav-pills-link-active-color: black;
  }
  .nav-pills .nav-link {
    --mdb-nav-pills-link-hover-bg: rgba(0,0,0,0.3);
    --mdb-nav-pills-link-color: white;
  }
  .button3:hover {
    background-color: #0047ab;
    color: white;
  }

  @media only screen and (max-width: 550px) {
    .mainsignup{
      background-image: url('https://drive.google.com/uc?id=1EFZP7RISSSpLM9tzro6ugbJz4t2PGrRu');
      object-position: center;
        padding-left: 3%;
        padding-top: 35%;
        padding-bottom: 40%;
        padding-right: 3%;
  }
    .form{
      margin: 0%;
      width: fit-content;
    }
    .form:hover {
      transform: scale(1);
    }
    .input-field{
      font-size: 15px;
    }
  }
  a#tab-login.nav-link,
  a#tab-register.nav-link{
    font-size: medium;
    font-weight: 400;
  }  
