body {
	font-family: Arial, sans-serif;
  font-size: x-large;
	margin: 0;
	padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

tr{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.badge-late{
    background-color: red;
}
.badge-Out{
    background-color: #ffbf00 ;
}
.badge-In{
    background-color: green;
}
main {
	
    height: 99vh;
    border-color: white;
    
    overflow-y: scroll;
    overflow-x: scroll  
}

@media only screen and (min-width: 768px) {
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media only screen and (min-width: 1024px) {
	main {
		flex-wrap: nowrap;
	}
}
.button {
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: WHITE;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  /* box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%); */
 }
 
 .button:hover {
  color: white;
  background-color: black;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .button:active {
  box-shadow: none;
 }
  
  
