body {
	font-family: Arial, sans-serif;
  font-size: x-large;
	margin: 0;
	padding: 0;
  background-color: black;
  color: white;
}

.rounded-circle:hover{
	margin-left:100px;
	-ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(3.5);
}
tr{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.badge-late{
    background-color: red;
}
.badge-Out{
    background-color: #ffbf00 ;
}
.badge-In{
    background-color: green;
}
main {
	
    height: 99vh;
    border-color: white;
    
    overflow-y: scroll;
    overflow-x: scroll  
}

@media only screen and (min-width: 768px) {
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media only screen and (min-width: 1024px) {
	main {
		flex-wrap: nowrap;
	}
}
.button {
    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 20px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
  } 
  .button {
    background-color: #009FBD;
    color:black; 
    border: 2px solid black;
    border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-right: 5px;
  }
  .button:hover {
    background-color: aqua;
    
  }
  
  
