.homebody {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  background-color: #0b2447;
}

footer {
  padding: 25px;
  background-color: black;
  background-image: linear-gradient(to right, #b7e0fc 0%, #f5c3e8 100%);
  background-size: 100% 3px;
  background-position: 0% 0%, 0% 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right:0px;
  left: 0px;
}

.footer-logo {
  max-width: 70px;
  border: 5px white;
}


.footer-heading {
  font-size: 0.7em;
  font-family: 'Roboto', sans-serif;
  color:#fff;
  text-align:center;
}

.footer-links {
  list-style: none;
  margin-left: 0px;

  > li > a {
    color: #5D5D5D;
    font-size: 0.9em;
  }

  > li > a:hover {
    color: #000;
  }
}


/* SOCIAL LINKS */

.social-container {
  text-align: right;
  margin-top: 10px;
}

.social-icon {
  margin: 0px 3px;
}



.fa {
  width: 70px;
  font-size: 1.8em;
  border-radius: 50%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover, &:active {
    color: #fff;
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
  }
  
}

  @media screen and (max-width: 1023px) {

    .social-container {
      text-align: center;
    }
    
    .footer-logo {
      display: block;
      margin: 0 auto;
    }
  }


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  background-color: #252525;
}

.navbar-toggler {
  color: #fff;
}

.collapse {
  background-color: #252525;
}

.profile {
  flex-basis: 200px;
  flex-grow: 1;
  margin-right: 20px;
}

.profile img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.textbox {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  color: white;

  background-color: #252525;
  border: 2px solid white;
  width: 80%;
  height: 50px;
  box-sizing: border-box;
}

::placeholder {
  color: white;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .profile {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .textbox {
    flex-basis: 100%;
  }
}

.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  font-size: larger;
}

.flip-card-front {
  z-index: 1;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.buttonqr {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  transition: 0.2s;
  transition-property: box-shadow;
  margin-top: 25%;
  margin-bottom: 35%;
  width: 330%;
}

.buttonqr {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}


@media screen and (max-width: 600px) {
  .buttonqr {
    font-size: 14px;
    padding: 8px 16px;
    width: 100%;
  }
}

/* Navbar */
/* .active {
  background-color: black;
} */
