@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

 .App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
} 

/* QR Scanner button*/
.openscanner {
  padding: 0.8em 1.8em;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: black;
  border-radius: 45px;
 }
 
 .openscanner::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: black;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .openscanner:hover::before {
  width: 105%;
 }
 
 .openscanner:hover {
  color: white;
 }
 

 /* Dropdown Menu */

 .cameramode {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
   clear:both;
   width: 210px;
   height: 35px;
   overflow: hidden;
   text-align: center;
   transition: height .4s ease;
   background-color: aqua;
   border-color: black;
   color: black;
   border-radius: 20px;
   font-size: medium;
 }
 
 .cameramodeoption {
 background-color: aqua;
}
.purpose-show{
margin-bottom: 8px;
 color: #252525;
}
 .qrreader{
  margin-top: 20px;
  height: 70%;
  border-radius: 20px;
 }
 
 @media only screen and (max-width: 550px) {
  .qrreader{
    margin-top: 20px;
    width: 98%;
    height: auto;
  border: 5px solid black;
   }
 }
